## Instacart Project – Phase 1: Raw Data Exploration
 - ## Load raw files
 - ## Inspect structure
 - ## Basic EDA
 - ## Key checks (uniqueness, relationships)

In [5]:
import pandas as pd
import os

# Always show all columns when inspecting
pd.set_option("display.max_columns", None)

# Raw data folder path
DATA_PATH = r'C:\Users\User\Documents\Projects\instacart_project\data_raw'

os.listdir(DATA_PATH)

files = {
    "aisles": "aisles.csv",
    "departments": "departments.csv",
    "orders": "orders.csv",
    "order_products_prior": "order_products__prior.csv",
    "order_products_train": "order_products__train.csv",
    "products": "products.csv",
}

dfs = {}

for name, fname in files.items():
    path = os.path.join(DATA_PATH, fname)
    df = pd.read_csv(path)
    dfs[name] = df
    print(f"{name}: {df.shape[0]:,} rows × {df.shape[1]} columns")

aisles: 134 rows × 2 columns
departments: 21 rows × 2 columns
orders: 3,421,083 rows × 7 columns
order_products_prior: 32,434,489 rows × 4 columns
order_products_train: 1,384,617 rows × 4 columns
products: 49,688 rows × 4 columns

## df.info() overview for all tables

In [6]:
for name, df in dfs.items():
    print("=" * 50)
    print(name.upper())
    print(df.info())

==================================================
AISLES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aisle_id  134 non-null    int64
 1   aisle     134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB
None
==================================================
DEPARTMENTS
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 468.0+ bytes
None
==================================================
ORDERS
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB
None
==================================================
ORDER_PRODUCTS_PRIOR
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB
None
==================================================
ORDER_PRODUCTS_TRAIN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1384617 entries, 0 to 1384616
Data columns (total 4 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   order_id           1384617 non-null  int64
 1   product_id         1384617 non-null  int64
 2   add_to_cart_order  1384617 non-null  int64
 3   reordered          1384617 non-null  int64
dtypes: int64(4)
memory usage: 42.3 MB
None
==================================================
PRODUCTS
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49688 non-null  int64
 1   product_name   49688 non-null  object
 2   aisle_id       49688 non-null  int64
 3   department_id  49688 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB
None

 ## Quick EDA function (shape, dtypes, missing, preview)

In [7]:
def quick_eda(df: pd.DataFrame, name: str, max_unique_for_preview: int = 20) -> None:
    print(f"\n================ {name} ================")
    print(f"Shape: {df.shape[0]} rows × {df.shape[1]} cols\n")
    print("Dtypes")
    print(df.dtypes)
    print("\nMissing values:")
    print(df.isna().sum())
    
    print("\nSample rows:")
    display(df.head())
    
    print("\nColumns with few unique values (potential categories):")
    for col in df.columns:
        nunique = df[col].nunique(dropna=False)
        if nunique <= max_unique_for_preview:
            print(f"  {col:25s} → {nunique} unique")

## Run quick EDA

In [8]:
quick_eda(dfs["orders"], "orders")
quick_eda(dfs["products"], "products")
quick_eda(dfs["aisles"], "aisles")
quick_eda(dfs["departments"], "departments")
quick_eda(dfs["order_products_prior"], "order_products_prior")
quick_eda(dfs["order_products_train"], "order_products_train")

================ orders ================
Shape: 3421083 rows × 7 cols

Dtypes
order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

Missing values:
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

Sample rows:

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

Columns with few unique values (potential categories):
  eval_set                  → 3 unique
  order_dow                 → 7 unique

================ products ================
Shape: 49688 rows × 4 cols

Dtypes
product_id        int64
product_name     object
aisle_id          int64
department_id     int64
dtype: object

Missing values:
product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64

Sample rows:

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

Columns with few unique values (potential categories):

================ aisles ================
Shape: 134 rows × 2 cols

Dtypes
aisle_id     int64
aisle       object
dtype: object

Missing values:
aisle_id    0
aisle       0
dtype: int64

Sample rows:

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

Columns with few unique values (potential categories):

================ departments ================
Shape: 21 rows × 2 cols

Dtypes
department_id     int64
department       object
dtype: object

Missing values:
department_id    0
department       0
dtype: int64

Sample rows:

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

Columns with few unique values (potential categories):

================ order_products_prior ================
Shape: 32434489 rows × 4 cols

Dtypes
order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

Missing values:
order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

Sample rows:

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

Columns with few unique values (potential categories):
  reordered                 → 2 unique

================ order_products_train ================
Shape: 1384617 rows × 4 cols

Dtypes
order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

Missing values:
order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

Sample rows:

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

Columns with few unique values (potential categories):
  reordered                 → 2 unique

## Primary key checks

In [9]:
# Checking keys and uniqueness
products = dfs["products"]
aisles = dfs["aisles"]
departments = dfs["departments"]
orders = dfs["orders"]

print("products unique",products["product_id"].is_unique)
print("Aisles unique:", aisles["aisle_id"].is_unique)
print("Departments unique:", departments["department_id"].is_unique)

products unique True
Aisles unique: True
Departments unique: True

## Orders table exploration

In [10]:
print("\nEval set distribution:")
print(orders["eval_set"].value_counts())

print("\nDays of week:")
print(orders["order_dow"].value_counts().sort_index())

print("\nHour of day:")
print(orders["order_hour_of_day"].value_counts().sort_index())

print("\nMissing days_since_prior_order:", orders["days_since_prior_order"].isnull().sum())

Eval set distribution:
eval_set
prior    3214874
train     131209
test       75000
Name: count, dtype: int64

Days of week:
order_dow
0    600905
1    587478
2    467260
3    436972
4    426339
5    453368
6    448761
Name: count, dtype: int64

Hour of day:
order_hour_of_day
0      22758
1      12398
2       7539
3       5474
4       5527
5       9569
6      30529
7      91868
8     178201
9     257812
10    288418
11    284728
12    272841
13    277999
14    283042
15    283639
16    272553
17    228795
18    182912
19    140569
20    104292
21     78109
22     61468
23     40043
Name: count, dtype: int64

Missing days_since_prior_order: 206209

## Order products exploration

In [11]:
order_products_prior = dfs["order_products_prior"]
order_products_train = dfs["order_products_train"]

print("\nReordered flag in PRIOR:")
print(order_products_prior["reordered"].value_counts().sort_index())

print("\norder_id frequency (TRAIN):")
print(order_products_train["order_id"].value_counts().head())

print("\norder_id frequency (PRIOR):")
print(order_products_prior["order_id"].value_counts().head())

Reordered flag in PRIOR:
reordered
0    13307953
1    19126536
Name: count, dtype: int64

order_id frequency (TRAIN):
order_id
2813632    80
1395075    80
949182     77
2869702    76
341238     76
Name: count, dtype: int64

order_id frequency (PRIOR):
order_id
1564244    145
790903     137
61355      127
2970392    121
2069920    116
Name: count, dtype: int64

## Foreign key / relationship checks

In [12]:
prior_ids = set(order_products_prior['order_id'])
orders_ids = set(orders['order_id'])
missing_in_orders = prior_ids - orders_ids
print("\norder_ids in PRIOR not found in orders:", len(missing_in_orders))

train_ids = set(order_products_train['order_id'])
missing_in_orders_train = train_ids - orders_ids
print("order_ids in TRAIN not found in orders:", len(missing_in_orders_train))

order_ids in PRIOR not found in orders: 0
order_ids in TRAIN not found in orders: 0